<p id="notice"><%= notice %></p>

<h1>All Users List </h1>
<table class="table table-striped">
  <thead>
    <tr>
      <td>Id</td>
      <th>Username</th>
      <th>Name</th>
      <th>Father name</th>
      <th>Cell no</th>
      <th>Email</th>
      <th>Next to kin</th>
      <th>Password</th>
      <th colspan="3">Operation</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.username %></td>
        <td><%= user.name %></td>
        <td><%= user.father_name %></td>
        <td><%= user.cell_no %></td>
        <td><%= user.email %></td>
        <td><%= user.next_to_kin %></td>
        <td><%= user.password %></td>
        <td><%= link_to 'Show', user , class: "btn btn-success"%></td>
        <td><%= link_to 'Edit', edit_user_path(user) , class: "btn btn-info"%></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } , class: "btn btn-danger"%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path , class: "btn btn-primary"%>
