<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-md-6"><h1>All Users List </h1></div>
  <div class="col-md-4"><%=  form_tag users_path, :method => 'get' do %>
<div class="form-group" style="width: 300px;margin-left: 300px;">
  
  <table>
    <tr>
      <td><%=  text_field_tag :search, params[:search] , placeholder: "User Search here", class: "form-control" %>
</td>
      <td> <%= submit_tag "Search" , class: "btn btn-success" %><% end %></td>
</tr>
  </table>
</div>
</div>

<div class="col-md-2"></div>
</div>



<table class="table table-striped">
  <thead>
    <tr>
      <td>Id</td>
      <th>Username</th>
      <th>Name</th>
      <th>Father name</th>
      <th>Cell no</th>
      <th>Email</th>
      <th>Next to kin</th>
      <th>Password</th>
      <th>Gender</th>
      <th>sms alert</th>
      <th colspan="3">Operation</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.username %></td>
        <td><%= user.name %></td>
        <td><%= user.father_name %></td>
        <td><%= user.cell_no %></td>
        <td><%= user.email %></td>
        <td><%= user.next_to_kin %></td>
        <td><%= user.password %></td>
        <td><%= user.gender %></td>
        <td><%= user.sms_alert %></td>
        <td><%= link_to 'Show', user , class: "btn btn-success"%></td>
        <td><%= link_to 'Edit', edit_user_path(user) , class: "btn btn-info"%></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } , class: "btn btn-danger"%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div style="margin-left: 400px;">
  <%== pagy_bootstrap_nav(@pagy)  %>
</div>
<%= link_to 'New User', new_user_path , class: "btn btn-primary"%> 